{%- for message in messages -%}
{{- '<|im_start|>' + message['role'] -}}
{%- if message['role'] == 'assistant' -%}
{%- generation -%}{{- '\n' + message['content'] + '<|im_end|>' -}}{%- endgeneration -%}
{{- '\n' -}}
{%- else -%}
{{- '\n' + message['content'] + '<|im_end|>\n' -}}
{%- endif -%}
{%- endfor -%}
{%- if add_generation_prompt -%}{{- '<|im_start|>assistant\n' -}}{%- endif -%}
